carddav works not on jolla phone with owncloud

hi there,

i dont not if it is a bug in the adapter but i wish you will take a look at 
https://together.jolla.com/question/60493/new-carddavcaldav-support-got-to-it-working-with-owncloud/?answer=70775#post-id-70775

it is not possible to sync with carddav on owncloud server. maybe you can add a workaround too. thanks micha

Try with the code from https://github.com/nemomobile/buteo-sync-plugin-carddav/pull/6 -- it should resolve the path duplication bug in this plugin, which shows up when using owncloud.

This doesn't seem to be fixed with #7. ( I just managed to build and install it. )
For reproducability, I tried the official demo instance, which is open to everybody:
```
username: test
password: test
server path: http://demo.owncloud.org/remote.php
calendar path: /caldav/calendars/test
```
Both my own and the demo instance result in "Account could not be created" for me.

@chriadam If I can help out with debug output or something, please let me know, but I don't know a way to get the actually used URLs.

@florianjacob thanks for trying it, I'll test when I'm in the office tomorrow and try to figure out what might be going wrong.

Testing shows that:

The error you're seeing is due to the "first time CalDav sync" procedure done as part of account creation.  You shouldn't see that error occur if you disable the "CalDav" toggle when creating the account.  Of course, that is a bug which we need to fix - I will look into that one next, but for the moment I want to concentrate on issues with CardDAV - and there are still issues, as described below:

Either there's a bug in my code which I cannot see, or that OwnCloud instance (test:test@demo.owncloud.org) does not conform to the spec in some ways:

Firstly, it doesn't implement RFC 6764 section 6.5 which says:

          The client does a "PROPFIND" [RFC4918] request with the
          request URI set to the initial "context path".  The body of
          the request SHOULD include the DAV:current-user-principal
          [RFC5397] property as one of the properties to return.  Note
          that clients MUST properly handle HTTP redirect responses for
          the request.  The server will use the HTTP authentication
          procedure outlined in [RFC2617] or use some other appropriate
          authentication schemes to authenticate the user.
          
          If the initial "context path" derived from a TXT record
          generates HTTP errors when targeted by requests, the client
          SHOULD repeat its "bootstrapping" procedure using the
          appropriate ".well-known" URI instead.

Here you can see this plugin performing a PROPFIND request to the .well-known/carddav endpoint, and the owncloud instance's response:

        Jan 14 13:13:47 Jolla carddav-client[10059]: [D] CardDav::fetchUserInformation:292 - void CardDav::fetchUserInformation() requesting principal urls for user 
        Jan 14 13:13:47 Jolla carddav-client[10059]: [D] RequestGenerator::generateRequest:93 - generateRequest(): ""  QUrl( "http://test@demo.owncloud.org/.well-known/carddav" )  "0" "PROPFIND" "<d:propfind xmlns:d="DAV:"><d:prop><d:current-user-principal /></d:prop></d:propfind>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [W] CardDav::userInformationResponse:356 - void CardDav::userInformationResponse() error: 202 ( 405 ) to request  QUrl( "http://demo.owncloud.org/.well-known/carddav" )  
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "<html><head>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "<title>405 Method Not Allowed</title>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "</head><body>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "<h1>Method Not Allowed</h1>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "<p>The requested method PROPFIND is not allowed for the URL /.well-known/carddav.</p>" 
        Jan 14 13:13:48 Jolla carddav-client[10059]: [D] {anonymous}::debugDumpData:55 - "</body></html>"

So it seems not to support the .well-known/carddav endpoint.  The RFC goes on to say:

          If the server returns a 404 ("Not Found") HTTP status response
          to the request on the initial "context path", clients MAY try
          repeating the request on the "root" URI "/"

So, I attempt this (even though 404 and 405 are not the same, I figure why not) but receive the same error code when I try the request on the root URI:

        Jan 14 13:13:48 Jolla carddav-client[10601]: [D] CardDav::userInformationResponse:354 - void CardDav::userInformationResponse() got HTTP response 405 to initial discovery request; trying root URI 
        Jan 14 13:13:48 Jolla carddav-client[10601]: [D] CardDav::fetchUserInformation:292 - void CardDav::fetchUserInformation() requesting principal urls for user 
        Jan 14 13:13:48 Jolla carddav-client[10601]: [D] RequestGenerator::generateRequest:93 - generateRequest(): ""  QUrl( "http://test@demo.owncloud.org/" )  "0" "PROPFIND" "<d:propfind xmlns:d="DAV:"><d:prop><d:current-user-principal /></d:prop></d:propfind>" 
        Jan 14 13:13:48 Jolla carddav-client[10601]: [W] CardDav::userInformationResponse:344 - void CardDav::userInformationResponse() error: 202 ( 405 ) to request "http://demo.owncloud.org/"

At this stage, I'm not sure what I can do.
If the server url is instead set to http://demo.owncloud.org/remote.php we get:

        Jan 14 13:37:32 Jolla carddav-client[10826]: [D] RequestGenerator::generateRequest:93 - generateRequest(): ""  QUrl( "http://test@demo.owncloud.org/remote.php" )  "0" "PROPFIND" "<d:propfind xmlns:d="DAV:"><d:prop><d:current-user-principal /></d:prop></d:propfind>" 
        Jan 14 13:37:34 Jolla carddav-client[10826]: [W] CardDav::userInformationResponse:344 - void CardDav::userInformationResponse() error: 203 ( 404 ) to request "http://demo.owncloud.org/remote.php" 
        Jan 14 13:37:34 Jolla carddav-client[10826]: [D] CardDav::userInformationResponse:354 - void CardDav::userInformationResponse() got HTTP response 404 to initial discovery request; trying root URI 
        Jan 14 13:37:34 Jolla carddav-client[10826]: [D] CardDav::fetchUserInformation:292 - void CardDav::fetchUserInformation() requesting principal urls for user 
        Jan 14 13:37:34 Jolla carddav-client[10826]: [D] RequestGenerator::generateRequest:93 - generateRequest(): ""  QUrl( "http://test@demo.owncloud.org/" )  "0" "PROPFIND" "<d:propfind xmlns:d="DAV:"><d:prop><d:current-user-principal /></d:prop></d:propfind>" 
        Jan 14 13:37:35 Jolla carddav-client[10826]: [W] CardDav::userInformationResponse:344 - void CardDav::userInformationResponse() error: 202 ( 405 ) to request "http://demo.owncloud.org/"

It works if and only if we set the server url to: http://demo.owncloud.org/remote.php/carddav
But that, of course, means that you cannot use the same account to sync both caldav and carddav with the owncloud instance (instead, you have to create two accounts).

I don't know that there's much more I can do, from this end... so I'll look into the caldav bug instead.

Ok, the reason why the caldav account creation fails, is simply the calendar path variable.
Instead of:

    username: test
    password: test
    server path: http://demo.owncloud.org/remote.php
    calendar path: /caldav/calendars/test

Use:

    username: test
    password: test
    server path: http://demo.owncloud.org/remote.php
    calendar path: remote.php/caldav/calendars/test

Then it will work.

Given the way the calendar plugin treats the path as an absolute path (rather than relative to the server path) you should actually get both plugins (carddav + caldav) working with one account, by using the following settings:

    username: test
    password: test
    server path: http://demo.owncloud.org/remote.php/carddav
    calendar path: remote.php/caldav/calendars/test

But, I just tested that and there's a bug in the sync profile creation, which we're looking into now.

Did some research, I used this to emulate your propfind requests:

```
curl -i -X PROPFIND -u test --data '<d:propfind xmlns:d="DAV:"><d:prop><d:current-user-principal /></d:prop></d:propfind>' -H "Depth: 0" http://demo.owncloud.org/.well-known/carddav
```
Same result, Method not allowed against the demo server.By the way,

 but against my own instance, the same (adjusted) query seems to work, resulting in:
```
HTTP/1.1 302 Moved Temporarily
Server: nginx
Date: Wed, 14 Jan 2015 11:01:37 GMT
Content-Type: text/html
Content-Length: 154
Location: https://cloud.wolkenplanet.de/remote.php/carddav/
Connection: keep-alive
```

Following the request with curl -L i.e. requesting against /remote.php/carddav/ results in the following:

```
<?xml version="1.0" encoding="utf-8"?>
<d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:card="urn:ietf:params:xml:ns:carddav"><d:response><d:href>/remote.php/carddav/</d:href><d:propstat><d:prop><d:getlastmodified>Wed, 14 Jan 2015 10:56:29 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop><d:status>HTTP/1.1 200 OK</d:status></d:propstat></d:response></d:multistatus>
```
which I guess is what you would expect for RFC 6764 support.

It seems like this is a bug in the configuration of the ownCloud demo webserver, which seems to filter out PROPFIND requests by accident. I already contacted the demo admin to look into this, but he's a volunteer and not sure when he'll have the time to look into this. I could provide a test account on my own instance, though.

By the way, as it may help: ownCloud doesn't have its own CalDAV / CardDAV implementation but uses SabreDAV as backend. Currently it's still version 1.8.3, but the update to 2.1 is targeted for the next major ownCloud version: https://github.com/owncloud/core/issues/12876

Oh, great - if it's just a misconfiguration of the demo instance, but it works for all correctly configured instances, then it should be fine.  I tested my redirection-handling code with both Fruux and Memotoo, and at least Fruux also uses SabreDAV in the backend, so I'm confident that it should work.  I don't have access to an OwnCloud instance for testing, so if more problems with OwnCloud support pop up in the future, I might take you up on your offer - for now, though, hopefully the testing I did against Fruux is good proof that it will work now that the path and redirect issues are solved.

I have also patched the caldav discovery code to handle redirects and support the .well-known/caldav endpoint too -- but that code is in internal Jolla repos rather than the buteo-sync-plugin-caldav code (as it does multiple-calendar discovery as part of the account-creation process, rather than during sync, in order to allow the user to select which calendars to sync with).  It probably won't make it into the next Jolla update, but will into the one after that.

Many thanks for your help and testing with this issue!

Hello everybody, 

I've got my jolla phone 5 hours ago and found your topic while trying to setup my cal/carddav account. 

I've got an owncloudserver at home and only sync via wlan and I've managed to setup a single caldav Account, but I could not get my contacts syncing.  Neither as an extra account, nor together with the cal in a single one.
I tried to follow any instruction you gave in this thread but I'm not realy into this topic, so I had no idea what to do. Could somebody please post the correct settings in a way me as a layman can understand? Like chriadam died deveral posts before:

username: xy
password: xy
server path: https://123.123.123.123/xyz
calendar path: xyz

That would be really kind! Thanks guys

greetings
Andre

Hi Andre, the steps are:
1) build the buteo-sync-plugin-carddav package from the latest code in the master branch of this repository using the SailfishOS SDK
2) deploy that newly built package to your phone using ssh (requires developer mode; rpm -Uvh package.rpm)
3) create a CardDav account (you must DISABLE the caldav service when creating the account, due to a bug in the account creation settings manager, unfortunately), specifying the correct server path and username/password (calendar path not required) for your instance.

That should then sync properly.

Just compiled and installed the new version, and without CalDAV, account creation works! And the contacts from the phone show up on the server and vice-versa. \o/

But it seems like there are still some problems left. Contact creation syncs flawlessly to both sides, but adding an attribute on the phone seems to results in this output on the next sync:
```
Jan 16 16:42:29 Jolla carddav-client[2455]: [W] CardDav::upsyncResponse:896 - void CardDav::upsyncResponse() error: 299 ( 412 ) 
Jan 16 16:42:29 Jolla carddav-client[2455]: [C] CardDavClient::syncFinished:137 - CardDAV sync failed: 401 "" 
```
and the attribute isn't synced. Changes to attributes on the phone doesn't get synced to the server, either. Any ideas?

Another strange thing: If I change some attribute and add a '-', they can't be edited on the phone anymore. o.0

Finally, deleting attributes on the server seems to result in the phone syncing the attributes back to the server.

@florianjacob I couldn't reproduce the "local attribute additions or changes don't get upsynced" issue -- that worked fine, for me.  However, the other two issues I could reproduce (server-side attribute deletions are not downsynced correctly, and adding a hyphen to an attribute server-side causes the attribute to be marked read-only on the phone).  I will look into them now.

If you want to get more debug logging, do the following in a normal (nemo user) terminal:

        systemctl --user stop msyncd
        killall msyncd
        MSYNCD_LOGGING_LEVEL=8 devel-su -p msyncd

then in a different terminal, do:

        devel-su journalctl -af | grep carddav

And then you should see more detailed logs being produced.

@florianjacob I have found and fixed the bug which causes server-side attribute deletion to be ignored -- it's not in this package, but in https://github.com/nemomobile/qtcontacts-sqlite/pull/188 instead (this carddav adapter relies on that one to do the heavy lifting).

I have not yet found what causes the hyphen issues - it's a nasty one, because once the detail is set to read-only, there is no way to remove it (either via the phone UI or via the web-server and then triggering sync) other than to delete the contact itself...  I will continue to investigate tomorrow.

By the way - many, many thanks for helping with testing this code.  Greatly appreciated!

Ok, I have a fix for the weird issue where details could get marked read-only - see https://github.com/nemomobile/qtcontacts-sqlite/pull/190 for that one.

After years on the dead N9 and doomed N900, it's such a relief to be on a platform again where you can report bugs and there *are* people who care about them. Seems like I'll have flawlessly working two-way contacts sync with ownCloud on my phone for the first time ever, yay! Thanks alot for caring and managing to hunt down that hyphen bug, I can imagine how nasty that was. :wink: 

I'll build the carddav plugin and qtcontacts-sqlite soon, give it a comprehensive LOG_LEVEL=8 test run over the weekend, and report here by monday whether I found something that's still left to fix.

Thanks - note that I haven't yet merged the final fix to qtcontacts-sqlite (although I expect to do so before the EOB today) as there are some unit tests outstanding (and while writing unit tests, I uncovered another codepath which caused a similar issue, too).

Also, once you build qtcontacts-sqlite you need to install the updated qtcontacts-sqlite-extensions package into your sdk, before you rebuild buteo-sync-plugin-carddav, otherwise the fix won't be pulled into the carddav build (because it uses an implementation header file from qtcontacts-sqlite-extensions).

Problems with qtcontacts-sqlite. :frown:

What I thought I needed to do:
1. build qtcontacts-sqlite-qt5 inside the mersdk for i468 and arm
2. install qtcontacts-sqlite-qt5 and qtcontacts-sqlite-qt5 with zypper inside mersdk. (This pulled in several dependencies like wayland, though)
3. rebuild buteo-sync-plugin inside mersdk
4. reinstalled buteo-sync-plugin on the phone with ```devel-su rpm -iv --replacepkgs buteo-sync-plugin-carddav-0.0.8-1.armv7hl.rpm```

Then I tried to install qtcontacts-sqlite on the phone, but that didn't work out:

```
[nemo@Jolla ~]$ devel-su rpm --upgrade ./qtcontacts-sqlite-qt5-0.2.14-0.armv7hl.rpm 
Password: 
error: Failed dependencies:
        libc.so.6(GLIBC_2.0) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
        libc.so.6(GLIBC_2.1.3) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
        libc.so.6(GLIBC_2.2) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
        libc.so.6(GLIBC_2.3.3) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
        libm.so.6(GLIBC_2.0) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
        libpthread.so.0(GLIBC_2.0) is needed by qtcontacts-sqlite-qt5-0.2.14-0.armv7hl
```

Am I missing something?


I'm not sure why you'd see those failed dependency errors tbh.
If you run the following on the device before attempting to install it:

    devel-su -p pkcon get-depends qtcontacts-sqlite-qt5

does that pull in the required dependencies?

It says it has all the dependencies required for the old version that's in the repos:
```
[root@Jolla nemo]# pkcon get-depends qtcontacts-sqlite-qt5
More than one package matches:
1. qtcontacts-sqlite-qt5-0.2.8.3-1.34.10.armv7hl [installed]
2. qtcontacts-sqlite-qt5-0.2.8.3-1.34.10.source [jolla]
Please choose the correct package: 1
Getting dependencies
Waiting in queue                                   
Starting
Querying
Resolving dependencies
Installed       glibc-2.15-1.3.1.armv7hl                        Embedded GLIBC (EGLIBC) is a variant of the GNU C Library (GLIBC)
Installed       libgcc-4.6.4-1.1.4.armv7hl                      GCC version 4.6 shared support library
Installed       libhybris-sbj-libGLESv2-0.0.0.38-10.11.1.jolla.armv7hl  GLESv2 for hybris
Installed       libstdc++-4.6.4-1.1.4.armv7hl                   GNU Standard C++ Library
Installed       qt5-plugin-sqldriver-sqlite-5.2.1+git11-1.18.3.armv7hl  Sqlite sql driver plugin
Installed       qt5-qtcore-5.2.1+git11-1.18.3.armv7hl           The QtCore library
Installed       qt5-qtdbus-5.2.1+git11-1.18.3.armv7hl           The QtDBus library
Installed       qt5-qtgui-5.2.1+git11-1.18.3.armv7hl            The QtGui Library
Installed       qt5-qtpim-contacts-5.2.0+git0-1.3.10.armv7hl    Qt PIM Contacts
Installed       qt5-qtsql-5.2.1+git11-1.18.3.armv7hl            The QtSql libraryhl            The QtSql library
```

On second glance on my failed dependencies, aren't libm and libpthread provided by EGLIBC as well? So my dependency problem boils down to some problem with EGLIBC. I thought maybe the MerSDK version is older or newer, but I just checked, it is 2.15-1.3.1 as well.

@florianjacob I've never seen that before, I'm sorry I don't know how to fix it :-(

Just got the update to Sailfish OS 1.1.2.16, do you know whether everything that changed so far got in the update?

A quick test with CalDAV and CardDAV enabled and the parameters
```
Server: https://example.tld/
Calendar path: /remote.php/caldav/calendars/<username>
```
was able to create the account. Looks good so far. :) I'll do some more extensive testing soon.

No, I think some of the changes missed the deadline and will be released with the next update, unfortunately.  I'll need to check the changes list to see which ones, precisely.

@florianjacob i had the same issues with libc dependencies

At first i built it for i486, then for arm and the x86 binaries were packaged in the rpm for the arm too!
I think that leads to the GLIBC message?!

I did a "make clean" in the src folder, removed the Makefile and after rebuilding for arm it worked! :)

@denzs glad to hear you managed to produce something installable. :smile: Could you please provide some more details / steps what you exactly did? i.e. how did you setup and prepare your mer-sdk, what exact commands did you use for building etc..

first I tried it by using qtcreator, but that did not work because of strange problems with qmake being called without parameters?!
 
but this approach without the qtcreator was very helpful for me:
https://together.jolla.com/question/78299/how-to-build-sailfish-office/ 

i have build buteo-syncfw-qt5 before and installed it inside the sdk to fulfil the builrequirements.
before buildung buteo-syncfw-qt5, i removed (ugly!) the buildreq for accounts-qt5 >= 1.13 because my version was too old and i didnt find a decent package...(now that has been build too :)

my successul build of buteo-sync-plugin-carddav was the version tagged 0.0.8 - which was just a random pick to avoid ending up in the dependency hell... that's the next step :)

i am sorry, but my shell history is too messed up after playing around for a step-by-step howto ;)